#hero {
    background: url('../img/personaltrainer.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 50px;
    width: 100%;
    margin: 0;
  }
  #hero .container-fluid {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
    width: 100%;
  }
  body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }